@font-face{
	font-family: BOOKOSB;
	src:url(../fonts/BOOKOSB.TTF);
}

@font-face{
	font-family: BookMan-OldStyle;
	src:url(../fonts/BOOKOS.TTF);
}

@font-face{
	font-family: Atlane;
	src:url(../fonts/Atlane.otf);
}

@font-face{
	font-family: corbel;
	src:url(../fonts/corbel.TTF);
}

@font-face{
	font-family: arnoPro;
	src:url(../fonts/ArnoPro-Regular.otf);
}

.bookosb{
	font-family: BOOKOSB;
}

.Atlane{
	font-family: Atlane;
}
.arno{
	font-family: arnopro;
}

.arnoDir{
	font-family: arnopro;
	font-size: 30px;
}

.color1{
	background-color:  #074A89;
}

.color2{
	/*background-color:  #15AAAC;*/
	background-color: #FFe6b8;
}

.color3{
	background-color:  #2A8CCC;
}

.color4{
	background-color:  #E8A60E;
}

.color5{
	background-color:  #04243F;
}

.color6{
	background-color:  #AEC1E0;
}

.color7{
	background-color:  #6B6E70;
}

.color8{
	background-color:  #B5B4B4;
}

.color9{
	background-color:  #CFE2DF;
}

.text1{
	color:  #074A89;
}

.text2{
	color:  #15AAAC;
}

.text3{
	color:  #2A8CCC;
}

.text4{
	color:  #E8A60E;
}

.text5{
	color:  #04243F;
}

.text6{
	color:  #AEC1E0;
}

.text7{
	color:  #6B6E70;
}

.text8{
	color:  #B5B4B4;
}

.text9{
	color:  #CFE2DF;
}

/*divisor paguina principal*/
.divisor{
	width: 100%;
	margin: 70px auto;
	padding: 10px;
}

/*aside*/
.aside{
	width: 70%;
}

.directorio{
	width: 70%;
	margin: 35px auto;
	text-align: justify;
	padding: 5px;
	font-size: 15px;
}

.contenido p{
	font-weight: 400 !important;
	font-size: 22px !important;
	line-height: 30px !important;
	color: #262627 !important;
	font-family: arnopro !important;
}

.contenidoIndex{
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #262627;
}

.capital .text_capital{
    text-transform: lowercase;
    text-indent: 1em
}

.capital:first-letter {
    text-transform: uppercase;
	color: #074A89;
	font-size: 4em;
	font-weight: 700;
	line-height:1;
	font-family:times;
	float: left;
}

/*.fecha_post{
	margin:50px 0px 0px 0px;
}*/


.footerLista{
	list-style-type: none;
	padding: 5px;
	font-size: 15px;
	text-align: left;
}


.logo_post{
	padding: 5px;
	width: 15%;
}

/*contacto*/
#button_contacto{
	color:#074A89;
	margin: 50px 0px 0px 0px;
	font-size: 25px;
	padding: 10px 30px 10px 30px;
	border:3px solid #E8A60E;	
}

.paddin{
	padding: 25px;
}

.margenes{
	min-height: 188px;
	max-height: 188px
}

.form-control::placeholder{
	color: #ABB2B9
}

.titulos h1, h3{
	font-family: serif;
	line-height: 40px;
	font-variant: small-caps;
	text-align: justify;
	font-weight: 800;
}

.tituloMasLeidas h5{
	font-family: serif;
	line-height: 40px;
	font-variant: small-caps;
	text-align: justify;
	font-weight: 800;
}

/*configuracion del header*/
.header_superior{
	height: 45vh;
	margin: 70px 0px 0px 0px;
	text-align: center;
}

.header_inferior{	
	padding: 10px;
	text-align: center;
	color:#fff;
}

.header_inferior h1{	
	font-size: 4.5vw;
}
@media screen and (min-width: 769px) {
	.header_inferior h1{	
		font-size: 30px;
	}
}


.img_header{
	margin-top: 20px;
	width: 25%;
}

@media screen and (max-width: 992px) {
	/*configuracion del header*/
	.header_superior{
		height: 35vh;
		margin: 80px 0px 0px 0px;
	}

	.img_header{
		width: 40%;
		margin: 10px 0px 0px 0px;
	}

	/*aside*/
	.aside{
		width: 100%;
	}
}


@media screen and (max-width: 425px) {
	/*configuracion del header*/
	.header_superior{
		height: 50vh;
		margin: 80px 0px 0px 0px;
	}

	.img_header{
		width: 100%;
		margin: 25px 0px 0px 0px;
	}

	/*aside*/
	.aside{
		width: 100%;
	}
}

.autorNombreCont{
    position: absolute;
	bottom: 0;
	font-size:30px;
}

.fechaCont{
	position: absolute;
	bottom: 0;
	right:20px;
}

@media screen and (max-width: 425px) {
	.logoSize{
		width: 50%;
		 display: block;
		  margin-left: auto;
		  margin-right: auto;
	}

	.autorNombreCont{
    	position: unset;
    	margin: 0px 0px 0px 0px;
	}

	.fechaCont{
		position: unset;
		right:20px;
	}
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
	.autorNombreCont{
	    position: unset;
		bottom: 0;
		margin: 0px 0px 0px 0px;
	}

	.fechaCont{
		position: unset;
		right:20px;
	}
}

@media screen and (min-width: 426px) and (max-width: 767px) {
	.autorNombreCont{
	    position: unset;
		bottom: 0;
		margin: 0px 0px 0px 0px;
	}
	.logoSize{
		width: 20%;
	}
	.fechaCont{
		position: unset;
		right:20px;
	}
}

/*Autor*/
.nombreAutor{
	font-family: BookMan-OldStyle;
	position: absolute;
    bottom: 0;
    /*text-decoration: underline;*/
    color: #074a89;
	font-size: 5vw;
}

.descripcion{
	font-family: BookMan-OldStyle;
}


.imagenAutor{
	width: 50%;
}

@media screen and (min-width: 1200px) {
	.nombreAutor{
		font-size: 60px;
	}
}

@media screen and (max-width: 575px) {
	.imagenAutor{
		width: 50%;
	}

	.nombreAutor{
		position: unset;
	}
}


/*Autores*/
.imgAutor{
	width:15%;
}

@media screen and (max-width: 767px) {
	.imgAutor{
		width:45% !important;
	}
}

.nombreAutores{
	font-family: BookMan-OldStyle;
	text-align: center;
    /*text-decoration: underline;*/
    color: #074a89;
	font-size: 200%;
}
.bio p{
	font-family: BookMan-OldStyle;
	text-align: justify;
}

@media screen and (max-width: 768px) {
	.tituloColaboradorAutor p, h1{
		font-size: 28px !important;
	}
}

@media screen and (min-width: 1000px) {
	.tituloColaboradorAutor p, h1{
		font-size: 48px !important;
	}
}

.tituloColaboradorAutor p, h1{
	font-size: 5vw
}
/*contenido de publicacion*/
.dedicatoria{
	font-style: italic;
	font-weight:bold;

}

.epigrafe{
	
}
/*Social Icons*/
.buttons{
	text-align: center;
}
.btnShare{	
    width: 50px !important;
    height: 50px !important;
    color: white;
    border-radius: 50px;
}

.btn:hover{
	color: white;
}

.fac{
	background: #3B5998;
}

.tw{
	background: #55ACEE;
  
}

.wa{
	background: #4AC959;   
}
